<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form novalidate name="registerForm" class="form-horizontal">
      <fieldset>
        <legend class="text-center">Create new account</legend>
        <div class="form-group" ng-class="{ 'has-error': !registerForm.nickname.$valid && registerForm.nickname.$touched }">
          <label class="control-label" for="nicknameInput">
            Nickname
            <span class="text-danger">*</span>
          </label>
          <input type="text"
                 id="nicknameInput"
                 name="nickname"
                 class="form-control"
                 ng-model="$ctrl.user.nickname"
                 ng-minlength="3"
                 ng-maxlength="40"
                 required
                 placeholder="Pick a nickname">
          <div class="text-danger" ng-messages="registerForm.nickname.$error" ng-show="registerForm.nickname.$touched">
            <div ng-message="required">Nickname is required</div>
            <div ng-message="minlength">Please enter at least 3 characters</div>
            <div ng-message="maxlength">You have entered more than the maximum 40 characters</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !registerForm.email.$valid && registerForm.email.$touched }">
          <label class="control-label" for="emailInput">
            Email
            <span class="text-danger">*</span>
          </label>
          <input type="email"
                 id="emailInput"
                 name="email"
                 class="form-control"
                 ng-model="$ctrl.user.email"
                 required
                 placeholder="you@example.com">
          <div class="text-danger" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
            <div ng-message="required">Email is required</div>
            <div ng-message="email">Please enter a valid email address</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !registerForm.password.$valid && registerForm.password.$touched }">
          <label class="control-label" for="passwordInput">
            Password
            <span class="text-danger">*</span>
          </label>
          <input type="password"
                 id="passwordInput"
                 name="password"
                 class="form-control"
                 ng-model="$ctrl.user.password"
                 ng-minlength="6"
                 ng-maxlength="40"
                 required
                 placeholder="Creat a password">
          <div class="text-danger" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
            <div ng-message="required">Password is required</div>
            <div ng-message="minlength">Please enter at least 6 characters</div>
            <div ng-message="maxlength">You have entered more than the maximum 40 characters</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !registerForm.confirmPassword.$valid && registerForm.confirmPassword.$touched }">
          <label class="control-label" for="confirmPasswordInput">
            Confirm password
            <span class="text-danger">*</span>
          </label>
          <input type="password"
                 id="confirmPasswordInput"
                 name="confirmPassword"
                 class="form-control"
                 ng-model="$ctrl.user.confirmPassword"
                 ng-pattern="{{ $ctrl.user.password }}"
                 required
                 placeholder="Confirm your password">
          <div class="text-danger" ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$touched">
            <div ng-message="required">Confirm password is required</div>
            <div ng-message="pattern">Passwords do not match</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !registerForm.phone.$valid && registerForm.phone.$touched }">
          <label class="control-label" for="phoneInput">
            Phone
            <span class="text-danger">*</span>
          </label>
          <input type="text"
                 id="phoneInput"
                 name="phone"
                 class="form-control"
                 ng-model="$ctrl.user.phone"
                 ng-pattern="/^(?:[1-9]\d*|0)$/"
                 required
                 placeholder="Enter your phone number">
          <div class="text-danger" ng-messages="registerForm.phone.$error" ng-show="registerForm.phone.$touched">
            <div ng-message="required">Phone number is required</div>
            <div ng-message="pattern">Phone number must contain only digits [0-9] and cannot start with 0</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">
            Country
            <span class="text-danger">*</span>
          </label>
          <select class="form-control" ng-model="$ctrl.user.country" required>
            <option ng-repeat="country in $ctrl.countries track by $index" value="{{ ::country._id }}">{{ ::country.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <dutton ng-click="$ctrl.registerUser(registerForm.$valid);" ng-disabled="registerForm.$invalid" class="btn btn-success btn-lg btn-block">
            Create Account
          </dutton>
        </div>
      </fieldset>
    </form>
  </div>
</div>
