<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form novalidate name="changePassForm" class="form-horizontal">
      <fieldset>
        <legend class="text-center">Change password</legend>
        <div class="form-group" ng-class="{ 'has-error': !changePassForm.oldPassword.$valid && changePassForm.oldPassword.$touched }">
          <label class="control-label" for="oldPasswordInput">
            Password
            <span class="text-danger">*</span>
          </label>
          <input type="password"
                 id="oldPasswordInput"
                 name="oldPassword"
                 class="form-control"
                 ng-model="$ctrl.passwords.old"
                 ng-minlength="6"
                 ng-maxlength="40"
                 required
                 placeholder="Enter your password">
          <div class="text-danger" ng-messages="changePassForm.oldPassword.$error" ng-show="changePassForm.oldPassword.$touched">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Please enter at least 6 characters</div>
            <div ng-message="maxlength">You have entered more than the maximum 40 characters</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !changePassForm.newPassword.$valid && changePassForm.newPassword.$touched }">
          <label class="control-label" for="newPasswordInput">
            New password
            <span class="text-danger">*</span>
          </label>
          <input type="password"
                 id="newPasswordInput"
                 name="newPassword"
                 class="form-control"
                 ng-model="$ctrl.passwords.new"
                 ng-minlength="6"
                 ng-maxlength="40"
                 required
                 placeholder="Type new password">
          <div class="text-danger" ng-messages="changePassForm.newPassword.$error" ng-show="changePassForm.newPassword.$touched">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Please enter at least 6 characters</div>
            <div ng-message="maxlength">You have entered more than the maximum 40 characters</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !changePassForm.confirmNewPassword.$valid && changePassForm.confirmNewPassword.$touched }">
          <label class="control-label" for="confirmNewPasswordInput">
            Confirm new password
            <span class="text-danger">*</span>
          </label>
          <input type="password"
                 id="confirmNewPasswordInput"
                 name="confirmNewPassword"
                 class="form-control"
                 ng-model="$ctrl.passwords.confirmNew"
                 ng-pattern="{{ $ctrl.passwords.new }}"
                 required
                 placeholder="Confirm new password">
          <div class="text-danger" ng-messages="changePassForm.confirmNewPassword.$error" ng-show="changePassForm.confirmNewPassword.$touched">
            <div ng-message="required">This field is required</div>
            <div ng-message="pattern">Passwords do not match</div>
          </div>
        </div>
        <div class="form-group">
          <button ng-click="$ctrl.changePassword(changePassForm.$valid);" ng-disabled="changePassForm.$invalid" class="btn btn-success btn-sm">
            Change Password
          </button>
          <a ng-href="/user/{{ $ctrl.userId }}" class="btn btn-link pull-right">
            User Details
          </a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
