<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form novalidate name="userDetailsForm" class="form-horizontal">
      <fieldset>
        <legend class="text-center">
          <img ng-src="./img/user-avatar.png" alt="user-avatar">
        </legend>
        <div class="form-group"
             ng-class="{ 'has-error': !userDetailsForm.nickname.$valid && userDetailsForm.nickname.$touched,
                         'has-success': userDetailsForm.nickname.$valid && userDetailsForm.nickname.$touched }">
          <label class="control-label" for="nicknameInput">Nickname</label>
          <input type="text"
                 id="nicknameInput"
                 name="nickname"
                 class="form-control"
                 ng-model="$ctrl.user.nickname"
                 ng-required="true"
                 ng-minlength="3"
                 ng-maxlength="40">
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': !userDetailsForm.email.$valid && userDetailsForm.email.$touched,
                         'has-success': userDetailsForm.email.$valid && userDetailsForm.email.$touched }">
          <label class="control-label" for="emailInput">Email</label>
          <input type="email"
                 name="email"
                 class="form-control"
                 ng-model="$ctrl.user.email"
                 ng-disabled="true">
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': !userDetailsForm.phone.$valid && userDetailsForm.phone.$touched,
                         'has-success': userDetailsForm.phone.$valid && userDetailsForm.phone.$touched }">
          <label class="control-label" for="phoneInput">Phone</label>
          <input type="number"
                 id="phoneInput"
                 name="phone"
                 class="form-control"
                 ng-model="$ctrl.user.phone"
                 ng-required="true">
        </div>
        <div class="form-group">
          <dutton ng-click="$ctrl.updateUser();"
                  ng-disabled="userDetailsForm.$invalid"
                  class="btn btn-success">
            Update User
          </dutton>
          <dutton ng-click="$ctrl.registerUser();"
                  ng-disabled="userDetailsForm.$invalid"
                  class="btn btn-link pull-right">
            Change Password
          </dutton>
        </div>
      </fieldset>
    </form>
  </div>
</div>
