<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-horizontal">
      <fieldset>
        <legend class="text-center">Login</legend>
        <div class="form-group">
          <label class="control-label" for="nicknameInput">Nickname</label>
          <input ng-model="$ctrl.credentials.nickname" class="form-control" id="nicknameInput" type="text" placeholder="Enter your nickname">
        </div>
        <div class="form-group">
          <label class="control-label" for="passwordInput">Password</label>
          <input ng-model="$ctrl.credentials.password" class="form-control" id="passwordInput" type="password" placeholder="Enter your password">
        </div>
        <div class="form-group">
          <dutton ng-click="$ctrl.loginUser();" class="btn btn-success btn-lg btn-block">Login</dutton>
        </div>
      </fieldset>
    </form>
  </div>
</div>
